/* style.scss

Main styles for this project.
---------------------------------------- */

/* Settings
---------------------------------------- */

$banner-width: 0;
$banner-height: 0;

/* Mixins
---------------------------------------- */

@mixin abs($top, $left) {
	top: $top;
	left: $left;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}

	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str...) {
	-webkit-animation: #{$str};
	animation: #{$str};
}

@mixin perspective($str) {
	-webkit-perspective: #{$str};
	perspective: #{$str};
}

@mixin transformOrigin($str) {
	-webkit-transform-origin: #{$str};
	transform-origin: #{$str};
}

/* Animations
---------------------------------------- */

// Declarations

@include keyframes(fadeIn) {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@include keyframes(fadeOut) {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

// Usage

.a-fadeout {
	@include animation(
		fadeIn 0.5s, fadeOut 0.5s 2s
	);
}


/* Base
---------------------------------------- */

body {
	width: $banner-width;
	height: $banner-height;

	margin: 0;
	padding: 0;

	position: relative;

	overflow: hidden;
}

* {
	box-sizing: border-box;
	animation-fill-mode: forwards !important;
}

/* Components
---------------------------------------- */

.l-banner-wrap {
	height: 100%;
	width: 100%;

	display: inline-block;

	position: relative;

	background-color: #FFFFFF;

	overflow: hidden;
}

.c-clicktag {
	width: 100%;
	height: 100%;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 999999;

	cursor: pointer;
}


/* Utils
---------------------------------------- */

.u-abs {
	position: absolute;
}

.u-b {
	display: block;
}

.u-hide {
	opacity: 0;
}
